$container-width: (1440px - 140 * 2);
$gutter-width: 30px;
$columns: 12;

html {
  box-sizing: border-box;

  * {
    box-sizing: inherit;
  }
}

body {
  margin: 0;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  width: $container-width;
  margin: 0 auto;
}

.slider {
  width: 100vw;
  overflow-x: hidden;
}

.slider__nav,
.slides__slide:first-of-type {
  padding-left: calc(50vw - #{$container-width / 2});
}

.slider__nav {
  margin-bottom: 60px;
}

.slider__slides {
  white-space: nowrap;
  transition: transform cubic-bezier(0, .2, 1, .2), .3s;
}

.slides__slide {
  padding: 0 15px;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
}

.slide__content {
  height: 100px;
  background: pink;
  min-width: (($container-width - $gutter-width * ($columns - 1)) / $columns) * 4 + $gutter-width * 3;
}